<footer class="footer-container">
  <div class="colonne">
    <ul>
      <li><a href="/homepage">Accueil</a></li>
      <li><a href="/informations">À propos & Informations</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="/homepage">Carte</a></li>
      <li><a href="/artistes">Concerts & Artistes</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/partenaires">Partenaires</a></li>
      <li><a href="/cgu">CGU & Mentions légales</a></li>
    </ul>
  </div>

  <div class="copyright">
    Made with <span class="heart">♥</span> by MSPR team
  </div>
</footer>
