<footer class="footer-container">
  <div class="colonne">
    <ul>
      <li><a href="">Accueil</a></li>
      <li><a href="">Histoire & Informations</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="">Carte</a></li>
      <li><a href="">Concerts & Artistes</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="">FAQ</a></li>
      <li><a href="">Partenaires</a></li>
      <li><a href="">CGU & Mentions légales</a></li>
    </ul>
  </div>

  <div class="copyright">
    Made with <span class="heart">♥</span> by MSPR team
  </div>
</footer>
