<footer class="footer-container">
  <div class="colonne">
    <ul>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
    </ul>
  </div>
  <div class="colonne">
    <ul>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
      <li><a href="">Accueil</a></li>
    </ul>
  </div>

  <div class="copyright">
    Made with <span class="heart">♥</span> by MSPR team
  </div>
</footer>
