//To remove
.events-component-container{
  background: #f6bf75;
  background: linear-gradient(180deg, #f6bf75 0%, #e07c80 50%, #4250b1 100%);
}

.events-container{
  padding: 3vw 10vw;
}

.title-events{
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  padding-bottom: -10px;
  padding-top: 50px;
  text-transform: uppercase;
}

.nom-event{
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.places-event{
  font-weight: normal;
  text-align: center;
  color: #f3b876;
  font-size: 12px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.date-event{
  margin-top: 20px;
  background: #ffffff;
  color: #DA7A81;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 16px;
  text-align: center;
  padding: 1vw;
  border-radius: 5px;
}

.description-event{
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.lieu-event{
  font-weight: normal;
  text-align: center;
  color: #f3b876;
  font-size: 12px;
  margin-bottom: 10px;
}

.container-events{
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.img-events{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align:center;
  Margin : auto;
  Display:flex;
}


.bouton-tournoi{
    display: block;
    width: 100%;
    line-height:40px;
    text-align:center;
    vertical-align:middle;
    color: #DA7A81;
    background-color: #ffffff;
    text-decoration:none;
    border-radius: 50px;
    margin: 0 auto;
    margin-right: 50px;
    }

.lien-tournoi{
  color: #7c5b9b;
  font-size: 14px;
  font-weight: bold;
}

.bouton-places{
  display: block;
  width: 100%;
  line-height:40px;
  text-align: left;
  vertical-align:middle;
  background-color: #f3b876;
  text-decoration:none;
  border-radius: 50px;
  margin: 0 auto;
  margin-left: 20px;
}

.couleur-texte{
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

.colonne-left{
  float: left;
  width: 40%;
}

.colonne-rigt{
  float: right;
  width: 60%;
}

.boutons-events{
  margin-left: 20px;
  margin-right: 20px;
}
