<div class="socials-media-component-container">
  <div class="social-bg-img">
    <img src="assets/banniere/Banniere_reseaux.png" alt="">
  </div>

  <div class="socials-media-container">
    <div class="social-list">
      <div class="social"><a href="https://www.facebook.com/Nation-Sounds-111264684334731"><img src="assets/logos/facebook.png" alt="logo Facebook"></a></div>
      <div class="social"><a href="https://www.instagram.com/nationsounds_/"><img src="assets/logos/instagram.png" alt="logo instagram"></a></div>
      <div class="social"><a href="https://www.snapchat.com/l/fr-fr/"><img src="assets/logos/snapchat.png" alt="logo snapchat"></a></div>
      <div class="social"><a href="https://twitter.com/?lang=fr"><img src="assets/logos/twitter.png" alt="logo twitter"></a></div>
      <div class="social"><a href="https://www.linkedin.com/"><img src="assets/logos/linkedin.png" alt="logo linkedin"></a></div>
      <div class="social"><a href="https://www.youtube.com/channel/UCqMYod3sPr6KKX5wn0E4Vqg"><img src="assets/logos/youtube.png" alt="logo youtube"></a></div>
    </div>
  </div>
</div>

