//To remove
.socials-media-component-container{
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;}

.socials-media-component-container .social-list .social{
  display: inline;
  padding: 0 5px;
}

.social-bg-img{
  position: relative;
}

.social-bg-img img{
  width: 100%;
}

.socials-media-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 75vw;
}

@media (max-width: 450px) {
  .social img{
    width: 30px;
  }

  .socials-media-component-container .social-list .social{
    padding: 0 2px;
  }

  .socials-media-component-container{
    padding-bottom: 30px;
  }
}
