<div class="socials-media-component-container">
  <div class="social-bg-img">
    <img src="assets/banniere/Banniere_reseaux.png" alt="">
  </div>

  <div class="socials-media-container">
    <div class="social-list">
      <div class="social"><a href=""><img src="assets/logos/facebook.png" alt="logo Facebook"></a></div>
      <div class="social"><img src="assets/logos/instagram.png" alt="logo instagram"></div>
      <div class="social"><img src="assets/logos/snapchat.png" alt="logo snapchat"></div>
      <div class="social"><img src="assets/logos/twitter.png" alt="logo twitter"></div>
      <div class="social"><img src="assets/logos/linkedin.png" alt="logo linkedin"></div>
      <div class="social"><img src="assets/logos/youtube.png" alt="logo youtube"></div>
    </div>
  </div>
</div>

