<div class="socials-media-component-container">
  <h2>Liste des réseaux sociaux ici</h2>

  <div class="socials-media-container">
      <div class="text-container">
          Ne manquez pas
          Toutes les annonces
      </div>
      <div class="social-list">
        <div class="social"><img src="assets/logos/facebook.png" alt="logo Facebook"></div>
        <div class="social"><img src="assets/logos/instagram.png" alt="logo instagram"></div>
        <div class="social"><img src="assets/logos/snapchat.png" alt="logo snapchat"></div>
        <div class="social"><img src="assets/logos/twitter.png" alt="logo twitter"></div>
        <div class="social"><img src="assets/logos/linkedin.png" alt="logo linkedin"></div>
        <div class="social"><img src="assets/logos/youtube.png" alt="logo youtube"></div>
      </div>
  </div>
</div>

