.cgu-page-component-container{
  background: #FFFFFF;
}

.title-container{
  background: #272727;
  padding: 2vw;
  padding-top: 50px;
}

.cgu-container{
  text-align: center;
  padding: 10vw;
}

.titlecgu{
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 50px;
}

.cgu-title{
  font-weight: bold;
  text-align: left;
  color: #DA7A81;
  font-size: 16px;
  margin-bottom: 5px;
}

.cgu-sous-title{
  font-weight: bold;
  text-align: left;
  color: #272727;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.cgu-texte{
  font-weight: normal;
  text-align: justify;
  color: #272727;
  font-size: 12px;
  margin-bottom: 30px;
}
