<div id="myNav" class="overlay">

  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>



  <div class="overlay-content">
    <a class="bordered" href="#">Billeterie</a>
    <a class="bordered" href="#">Carte</a>
    <br>
    <a href="/">Accueil</a>
    <hr>
    <a href="/">Programme</a>
    <hr>
    <a href="/">Concerts & Artistes</a>
    <hr>
    <a href="/">Évenements</a>
    <hr>
    <a href="/">Histoire & Infos</a>
    <hr>
    <a href="/">Blog</a>
    <hr>
    <a href="/">FAQ</a>
    <hr>
    <a href="/">Contact</a>
    <hr>
  </div>

</div>

<nav>
  <span class="menu-toggle" (click)="openNav()"><img src="/assets/logos/menu.png" alt=""></span>
  <div id="logo"><a href="/"><img src="assets/logos/logo.png" alt=""></a></div>
  <span class="language-toggle" (click)="openNav()">FR</span>
</nav>


