/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  background: rgb(246,191,117);
  background: linear-gradient(180deg, rgba(246,191,117,1) 0%, rgba(224,124,128,1) 50%, rgba(66,80,177,1) 100%);
  color: white;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #f1f1f1;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  filter: drop-shadow(2px 3px 4px black);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

// Overlay content
.overlay-content hr{
  width: 50px;
  border: 1px solid white;
  margin: 10px auto 15px auto;
}

a.bordered{
  border: 1px solid white;
  width: fit-content;
  margin: 20px auto;
  border-radius: 30px;
  padding: 10px 30px;
}

a.bordered:last-child{
  margin-bottom: 20px;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgb(246,191,117);
  background: linear-gradient(180deg, rgba(246,191,117,1) 0%, rgba(235,159,122,1) 65%, rgba(224,124,128,1) 100%);
}
a {
  text-decoration: none;
}
#logo {
  width: 75%;
  height: 100%;
}
#logo img{
  width: 100%;
}
