<img class="img-banner" src="assets/banniere/nos-artistes.png" alt="">

<div class="artistes-component-container">

  <div class="artistes-container">
    <div *ngFor="let artiste of artistes" class="artiste">
      <div class="image-container" id="{{artiste.NomDeScene}}">
        <img src="{{getPictureSrc(artiste.NomDeScene)}}" alt="">
        <p class="name">{{artiste.NomDeScene}}</p>
        <p class="festival">- {{"Festival"}} -</p>
      </div>
      <div class="details-container">
        <div (click)="toggleAccordion($event)" class="about accordion">
          +
        </div>
        <div class="panel">
          <div class="panel-content">
            <div class="panel-genre">
              [ {{artiste.StyleMusique}} ]
            </div>
            <div class="panel-description" [innerHTML]="artiste.Description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="img-button-container">
  <img class="img-banner" src="assets/img/firework.png" alt="">
  <a>
    <div class="btn">
      BILLETERIE

    </div>
  </a>
</div>

