//To remove

.partenaires-component-container{
  background: #272727;
  padding: 10px;
}

.partenaires-container{
  background: #272727;
  color: white;
}


.title-partenaire{
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.text-partenaire{
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
}
