<img class="img-banner" src="assets/banniere/nos-artistes.png" alt="" xmlns="http://www.w3.org/1999/html">

<div class="partenaires-component-container">
    <div class="partenaires-container">
      <div *ngFor="let partenaire of partenaires" class="partenaire">
        <p class="title-partenaire">{{partenaire.Nom}}</p>
        <img src="/assets/partenaire/{{partenaire.Nom | lowercase}}.png" alt="">
        <p [innerHTML]="partenaire.Description" class="text-partenaire"></p>
        <p class="lien-partenaire">{{partenaire.Site}}</p>
        <a href="{{partenaire.Facebook}}"><img src="assets/logos/facebook.png" alt=""></a>
        <a href="{{partenaire.Twitter}}"><img src="assets/logos/twitter.png" alt=""></a>
        <a href="{{partenaire.Instagram}}"><img src="assets/logos/instagram.png" alt=""></a>
        </div>
    </div>
</div>


<img class="img-banner" src="assets/banniere/banniere-1.png" alt="">
