.infos-page-component-container{
  background: #f6bf75;
  background: linear-gradient(180deg, #f6bf75 0%, #e07c80 50%, #4250b1 100%);
  padding: 8vw;
}

.infos-container{
  text-align: center;
  background: #272727;
  padding: 8vw;
}

.title-infos{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 20px;
}

.sous-title-infos{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #f3b876;
  font-size: 14px;
  margin-bottom: 10px;
}

.text-infos{
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 20px;
}

.more-text{
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 50px;
}

.img-infos-logo{
  width: 120px;
  height: 120px;
}

.bouton-hotel{
  display: block;
  width:150px;
  line-height:40px;
  text-align:center;
  vertical-align:middle;
  background-color: #7c5b9b;
  background: linear-gradient(90deg, #f6bf75 0%, #e07c80 50%, #4250b1 100%);
  color: #ffffff;
  text-decoration:none;
  border-radius: 50px;
  margin: 0 auto;
  font-weight: bold;
}


bloc-degrade{
  background: linear-gradient(180deg, #f6bf75 0%, #e07c80 50%, #4250b1 100%);
  padding: 8vw;
  margin: 5vw;
}
