<img class="img-banner" src="assets/banniere/banniere-1.png" alt="">

<div class="infos-page-component-container">
    <div class="infos-container">
      <div class="title-container">
        <h2 class="title-infos">À PROPOS</h2>
        <h3 class="sous-title-infos">Un peu d'histoire</h3>
        <p class="text-infos">Le festival Nation Sound existe depuis 20 ans. Créé par une bande d’étudiants fêtards, le premier des festivals à eu lieu en 2001. Une clairière, de l’alcool, de la musique et des copains. Voilà comment a démarré la fabuleuse histoire de Nation Sound. Nation Sound se veut éthique, responsable et inclusif. Le son des nations ou la nation du son, interprétez-le comme vous le souhaitez, mais n’oubliez pas le message, unité, respect et fête sont de la partie ! Pour son 20 -ème anniversaire, nous vous offrons un des festivals les plus fous jamais réalisé en France. Des artistes de haute volée, des invités triés sur le volet et des surprises à n’en plus finir !</p>
        <br>
        <img src="/assets/logos/Logo-color.png" class="img-infos-logo">
      </div>
    </div>

  <br>

    <div class="infos-container">
      <div class="title-container">
        <h2 class="title-infos">Venir au festival</h2>
        <h3 class="sous-title-infos">En voiture</h3>
        <p class="text-infos">A moins que vous n'habitez dans une grotte, vous devriez normalement être muni d’un GPS. Si ce n’est pas le cas, voici un plan très simple pour nous trouver. N’oubliez pas le covoiturage pour vos déplacements, on respecte la planète et le porte monnaie.
        <br><br>Parc départemental de l'île de Saint Denis.</p>
        <br>
        <h3 class="sous-title-infos">En navette</h3>
        <p class="text-infos">Une navette en partance de La Gare Montparnasse et arrivant au lieu du festival passera deux fois par jour pendant toute la durée du festival.
          <br>
          <br> - Départ à 13h45 à Paris Montparnasse, arrivée à 15h30 à Nation Sound.
          <br> -Départ à 11h45 à Nation Sound, arrivée à 13h30 à Paris Montparnasse.
          <br><br>
          Les arrêts seront les suivants: Paris Montparnasse, Paris Gare de Lyon, Nation Sound.
        </p>
      </div>
    </div>

      <br>

      <div class="infos-container">
        <div class="title-container">
          <h2 class="title-infos">SUR PLACE</h2>
          <h3 class="sous-title-infos">Le village</h3>
          <p class="text-infos">Nation Sound, c’est deux scènes, une 20 aine d’artistes, des invités exceptionnels, un atelier maquillage, un workshop, des tattoo flash, des jeux d’alcool….
            <br><br>Avec nos 3 bars, vous trouverez toujours de quoi vous hydrater !
            <br><br>Une sécurité au top, à l’écoute, sachant prendre les bonnes décisions pour votre sécurité !
            <br><br>Des point d’informations et des toilettes sèches pour le respect de l’environnement !
          </p>
          <p class="more-text">(Conserver la partie GOODIES/PROTECTION AUDITIVES/OBJETS AUTORISÉS-INTERDITS)</p>
        </div>
      </div>

      <br>

      <div class="infos-container">
        <div class="title-container">
          <h2 class="title-infos">Hébergement</h2>
          <h3 class="sous-title-infos">Hôtels</h3>
          <p class="text-infos">Le festival est en partenariat avec une grande liste d’hôtels à proximité.</p>

          <h3 class="sous-title-infos">Camping</h3>
          <p class="text-infos">Un large espace est dédié au camping sauvage, alors à vos tentes, camping car, ou simplement duvet pour dormir à la belle étoile. (même si on se doute bien que vous ne dormirez pas beaucoup.)</p>
        </div>
      </div>

      <br>

      <div class="infos-container">
        <div class="title-container">
          <h2 class="title-infos">Espace press</h2>
          <h3 class="sous-title-infos">Vous êtes :</h3>
          <p class="text-infos">Journaliste, photographe, influenceur ?
          <br>Vous souhaitez traiter l'actualité du festival et/ou demander à être accrédité ?</p>
          <div class="about">Contactez-nous</div>
        </div>
      </div>




   </div>




<app-social-media></app-social-media>
