<div class="artistes-component-container">
  <p>Découvrez nos artistes</p>

  <div class="artistes-container">
    <div *ngFor="let artiste of artistes" class="artiste">
      <div class="image-container">
        <img src="{{getPictureSrc(artiste.NomDeScene)}}" alt="">
        <p class="name">{{artiste.NomDeScene}}</p>
        <p class="festival">- {{"Festival"}} -</p>
      </div>
      <div class="details-container">
        <p class="style-musique">{{artiste.StyleMusique}}</p>
        <p class="date"></p>
        <p class="heure">{{"Heure"}}</p>
        <p class="scene">{{"Scene"}}</p>
        <div class="about">
          À propos
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .about:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.9;
  }

  .image-container{position:relative}
  .name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }

</style>
