/* You can add global styles to this file, and also import other style files */
// Reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham.otf") format("otf"),
  url("/assets/fonts/gotham.ttf") format("ttf");
}

*{
  font-family: Gotham, sans-serif;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body{
  background-color: transparent!important;
}

a{
  text-decoration: none!important;
}

// General CSS Styles
html{
  background: rgb(246,191,117);
  background: linear-gradient(180deg, rgba(246,191,117,1) 0%, rgba(224,124,128,1) 50%, rgba(66,80,177,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

//


//To remove
body{
  max-width: 1024px!important;
  margin: 0 auto!important;
}

.img-banner{width: 100%}
.img-banner{width: 100%}


//For button style

.about {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(90deg, rgba(246,191,117,1) 0%, rgba(224,124,128,1) 50%, rgba(66,80,177,1) 100%);
  margin: 0 auto;
}

.about:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: 0.9;
}


/**
  Partie partenaires
 */

.partenaires-container{
  background: white;
  text-align: center;
  padding: 15px 0;
}

.partenaires-container .about{
  margin: 10px auto;
  padding: 5px;
}

.partenaires-list .partenaire{
  display: inline;
  padding: 0 10px;
}
.partenaire img{transition: all .5s ease-in-out}
.partenaire img:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 2px black);
}
a{
  text-decoration: none;
}

/**
Parties image + boutons
 */

.img-button-container{
  position: relative;
}

.img-button-container .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border: 2px white solid;
  color: white;
  border-radius: 40px;
  font-size: 28px;
  font-weight: bold;
  transition: all .5s ease-in-out;
}

.img-button-container .btn:hover{
  transform: translate(-50%, -50%) scale(1.2);
  transition: all .5s ease-in-out;
}

@media (max-width: 450px){
  .img-button-container .btn {
    padding: 10px 20px;
    font-size: 20px;
  }
}


/**
Temp Fix space under img
 */
img.img-banner {
  margin-bottom: -5px;
}


ol, ul{
  padding-left: 0!important;
}
